@font-face {
  font-family: 'Qablasco';
  src: url('Qablasco.ttf ') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    color: white;
    font-family: 'MS UI Gothic', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://blob.gifcities.org/gifcities/33IUA4JRR35YRIDJTRRO5NIO4PIS4I2Y.gif);
}

body .main {
    width: 60%;
}

@media screen and (max-width: 800px) {
    body .main {
        width: 100%;
    }
    img {
        width: 70%;
        height: 70%;
    }
    #project {
        flex-direction: column;
    }

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

main header {
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 30px;
}

main div {
    padding: 1em;
}

h1,h2,h3,h4,h5,p,span {
    margin: 0;
    padding: 0;
}

.title {
    font-family: Qablasco, Arial, sans-serif;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex.vertical {
    flex-direction: column;
}

.flex.vertical.reverse {
    flex-direction: column-reverse;
}

.flex.horizontal.reverse {
    flex-direction: row-reverse;
}

.flex.horizontal {
    flex-direction: row;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

section {
    display: flex;
    width: 100%;
    padding: 1em;
    gap: 1em;
    box-sizing: border-box;
}

dark {
    color: gray;
}

.flag {
    width: 35%;
}

.disc {
    width: 15dvw;
    height: 15dvw;
}

a {
    display: contents;
    text-decoration: underline;
    color: rgb(123, 0, 255);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.side-bar {
    width: 200px;
    height: 500px
}